<!DOCTYPE html>
<html lang="en">
  <%- include("../components/head.ejs") %>
  <body>
    <div class="container p-6">
      <h1 class="title is-1">Home</h1>
      <div class="box">
        <div class="block">
          <a
            href="/scan-websites"
            class="button is-medium is-primary is-fullwidth"
          >
            Account List > Website Scan
          </a>
        </div>
        <div class="block">
          <a
            href="/build-prospect-list"
            class="button is-medium is-info is-fullwidth"
          >
            Segmentation > Prospect List
          </a>
        </div>
        <div class="block">
          <a
            href="/build-contact-list"
            class="button is-medium is-danger is-fullwidth"
          >
            Prospect List > Contact Information
          </a>
        </div>
        <form action="/logout" method="POST" class="block">
          <button type="submit" class="button is-medium is-fullwidth">
            Log out
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
