<!DOCTYPE html>
<html lang="en">
  <%- include("../components/head.ejs") %>
  <body>
    <div class="container p-6">
      <%- include("../components/home-link.ejs") %>
      <h1 class="title is-1">Build Contact List</h1>
      <form action="">
        <ul>
          <li>Email</li>
          <li>Home Phone</li>
          <li>Work Phone</li>
        </ul>
      </form>
    </div>
  </body>
</html>
