<!DOCTYPE html>
<html lang="en">
  <%- include("../components/head.ejs") %>
  <body>
    <div class="container p-6">
      <%- include("../components/logout.ejs") %>
      <h1 class="title is-1">Scan Websites</h1>
      <div class="box">
        <div class="block">
          <p class="has-text-weight-bold">
            Scan websites for the following potential privacy and cookie
            implementation issues:
          </p>
        </div>
        <div class="block">
          <ul class="content">
            <% for (const item of checks) { %>
            <li><%= item %></li>
            <% } %>
          </ul>
        </div>
        <div class="block">
          <div class="columns">
            <div class="column">
              <a
                href="/template"
                id="template"
                class="button is-medium is-primary is-fullwidth"
              >
                Download list template
              </a>
            </div>
            <div class="column">
              <label
                for="list"
                class="button is-medium is-primary is-fullwidth"
              >
                Upload list
              </label>
              <input type="file" name="list" id="list" class="is-sr-only" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box has-text-centered">
          <p class="mb-4"></p>
          <div class="button is-primary is-disabled is-loading"></div>
        </div>
      </div>
    </div>
    <%- include("../components/socket-io.ejs") %>
    <script type="module" src="/js/app.js"></script>
  </body>
</html>
