<!DOCTYPE html>
<html lang="en">
  <%- include("../components/head.ejs") %>
  <body>
    <div class="container p-6">
      <h1 class="title is-1">Scan Websites</h1>
      <form action="">
        <ul>
          <li>Google Analytics</li>
          <li>Data Protection Officer</li>
          <li>Non-functional Cookies</li>
          <li>EU-US Privacy Shield</li>
        </ul>
      </form>
    </div>
  </body>
</html>
